
<?xml version = "1.0" encoding="ASCII"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>snake</string>
	<key>CFBundleIdentifier</key>
	<string>com.john-henry.snake</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CDBundleName</key>
	<string>snake</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>icon</string>
</dict>
</plist>